/**
 * The custom style sheet for the basic interface.
 *
 *  Author: Russell Toris
 * Version: December 13, 2012
 */

#page {
  box-shadow: 0px 0px 15px 15px rgba(156, 205, 252, 0.7);
}

#basic-interface table {
  width: 800px;
  border: 0;
  border-collapse: collapse;
}

#basic-interface table td {
  border: 1px solid #333333;
}

#main-widget {
  width: 800px;
  height: 600px;
}

#south-east-widget, #south-west-widget, #control-widget {
  width: 266px;
  height: 200px;
}

#control-widget {
  background-color: rgba(156, 205, 252, 0.5);
}

#speed-container {
  padding-top: 75px;
  padding-left: 10px;
  padding-right: 10px;
}