/**
 * The custom style sheet for the basic interface.
 *
 *  Author: Russell Toris
 * Version: April 13, 2013
 */

.page {
  box-shadow: 0 0 15px 15px rgba(156, 205, 252, 0.7);
}

.basic-interface table {
  width: 800px;
  border: 0;
  border-collapse: collapse;
}

.basic-interface table td {
  border: 1px solid #333333;
}

.main-widget {
  width: 800px;
  height: 600px;
}

.south-east-widget, .south-west-widget, .control-widget {
  width: 266px;
  height: 200px;
}

.control-widget {
  background-color: rgba(156, 205, 252, 0.5);
}

.speed-container {
  padding: 75px 10px 0 10px;
}